html{
    height: 100%;
    }
    
    div{
        text-align: center;
    }        
    nav{
    text-align: center;
    }
    nav a{
    text-decoration:none;
    color:inherit;
    font-size:20px; 
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }
    
    div h1{
        color: aqua;
        font-size: 45px;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .pd1 {
        color: yellowgreen;
        font-size: 30px;
        text-align: center;
    }
    
    
    .im1{
     text-align: center;
    }
    .pd2{
        text-align: center;
        color: yellowgreen;
        font-size: 30px;
    }
    
    
    .teclado img{
        text-align: center;
        height: 250px;
        width: 450px;
    }
    .pd3{
        text-align: center;
        color: yellowgreen;
        font-size: 30px;
    }
    
     
    .im3 img{
        text-align: center;
      height: 350px;
      width: 350px;
    }
    .pd4{
        text-align: center;
        color: yellowgreen;
        font-size: 30px;
    }
    .im4 img{
        text-align: center;
      height: 350px;
      width: 350px;
    }
    footer{
        background-color: coral;
        font-size: 25px;
        text-align: center;
        font-family: cursive;
    }
    
    body{
        background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    }
    